@page "/Bar_Menu"
@using BarManager.ApiClients
@using BarManager.Models

@inject MenuCategoryApiClient menuApiClientApiClient

<h3>Our Menu</h3>


@if (menuitems is null)
{

    <p>Loading .....</p>
}
else
{
    @foreach (var categoryItem in menuitems)
    {
        <RadzenTabs @bind-SelectedIndex=@selectedIndex>
            <Tabs>
                <RadzenTabsItem Text="@categoryItem.Name">
                    <RadzenRow>
                        @foreach (var item in categoryItem.MenuItems)
                        {
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="4" Style="margin-bottom: 1.5rem;">
                                <MenuCard Item="@item" />
                            </RadzenColumn>
                        }
                    </RadzenRow>
                </RadzenTabsItem>

            </Tabs>
        </RadzenTabs>
    }
}


@code {
    int selectedIndex = 0;
    private List<MenuCategory>? menuitems;

    protected override async Task OnInitializedAsync() => menuitems = await menuApiClientApiClient.GetMenuCategoriesAsync();
}